{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Mechanics</title>

    {% block  css %}
    <link rel="stylesheet" href="{% static 'account/homepage.css' %}" > 
    {% endblock  %}
</head>
<body>
<div class="homepage-container">
    <div class="homepage-homepage">
      <span class="homepage-text"><span>FLEX MECHANIC</span></span>
      <div class="homepage-container1">
        <div class="homepage-frame2">
          <a href="{% url 'services' %}" class="homepage-text02">
            <span>Services</span>
          </a>
          <a href="{% url 'aboutus' %}" class="homepage-text04">
            <span>About us</span>
          </a>
          <a href="{% url 'contactus' %}" class="homepage-text06">
            <span>Contact</span>
          </a>
        </div>
        <span class="homepage-text08"></span>
        <div class="homepage-group21">
          <span class="homepage-text09"><a href='{% url 'signin' %}'>Login</a></span>
        </div>
        <a href="{% url 'home' %}" class="homepage-text11"><span>FM.</span></a>
      </div>
    
    {% block content   %}

    {% endblock %}
</body>
</html>