<div class="servicespage-container">
    <div class="servicespage-servicespage">
      <span class="servicespage-text"><span>FLEX MECH</span></span>
      <div class="servicespage-container1">
        <div class="servicespage-frame2">
          <span class="servicespage-text02"><span>Services</span></span>
          <a href="aboutus.html" class="servicespage-text04">
            <span>About us</span>
          </a>
          <a href="contact.html" class="servicespage-text06">
            <span>Contact</span>
          </a>
        </div>
        <div class="servicespage-group21">
          <span class="servicespage-text08"><span>Login</span></span>
        </div>
        <a href="homepage.html" class="servicespage-text10">
          <span>FM.</span>
        </a>
      </div>